extensions/linaclego/resources/se/lu/esss/linaclego/linaclego.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2014 rel. 2 sp1 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	
	<xs:complexType name="d">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="id" use="required" type="xs:string"/>
				<xs:attribute name="type">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="double"/>
							<xs:enumeration value="int"/>
							<xs:enumeration value="string"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="unit">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="MHz"/>
							<xs:enumeration value="MeV"/>
							<xs:enumeration value="T/m"/>
							<xs:enumeration value="Tm"/>
							<xs:enumeration value="Volt"/>
							<xs:enumeration value="deg"/>
							<xs:enumeration value="deg-keV"/>
							<xs:enumeration value="deg/keV"/>
							<xs:enumeration value="m"/>
							<xs:enumeration value="mA"/>
							<xs:enumeration value="mm"/>
							<xs:enumeration value="mm-mrad"/>
							<xs:enumeration value="mm/mrad"/>
							<xs:enumeration value="unit"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:element name="var">
		<xs:complexType>
			<xs:attribute name="id" use="required" type="xs:string"/>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="double"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ble">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="d" type="d" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" use="required" type="xs:string"/>
			<xs:attribute name="model" type="xs:string"/> <!-- TODO this is unnecessary--> 
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="bend"/>
						<xs:enumeration value="drift"/>
						<xs:enumeration value="dtlCell"/>
						<xs:enumeration value="edge"/>
						<xs:enumeration value="fieldMap"/>
						<xs:enumeration value="quad"/>
						<xs:enumeration value="rfGap"/>
						<xs:enumeration value="thinSteering"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
		<xs:key name="ble-data-id">
			<xs:selector xpath="d"/>
			<xs:field xpath="@id"/>
		</xs:key>
	</xs:element>
	<xs:element name="slot">
		<xs:complexType>
			<xs:choice minOccurs="0">
				<xs:element ref="ble" maxOccurs="unbounded"/>
				<xs:element name="d" type="d" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="id" use="required" type="xs:string"/>
			<xs:attribute name="model" type="xs:string"/>
		</xs:complexType>
		<xs:key name="ble-id">
			<xs:selector xpath="ble"/>
			<xs:field xpath="@id"/>
		</xs:key>
		<xs:key name="slot-data-id">
			<xs:selector xpath="d"/>
			<xs:field xpath="@id"/>
		</xs:key>
		<xs:key name="slot-ble-id">
			<xs:selector xpath="ble"/>
			<xs:field xpath="@id"/>
		</xs:key>
	</xs:element>
	<xs:element name="cell">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="slot" maxOccurs="unbounded"/>
				<xs:element name="d" type="d" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="id" use="required" type="xs:string"/>
			<xs:attribute name="model" type="xs:string"/>
		</xs:complexType>
		<xs:key name="slot-id">
			<xs:selector xpath="slot"/>
			<xs:field xpath="@id"/>
		</xs:key>
		<xs:key name="cell-data-id">
			<xs:selector xpath="d"/>
			<xs:field xpath="@id"/>
		</xs:key>
	</xs:element>
	<xs:element name="section">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cell" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" use="required" type="xs:string"/>
			<xs:attribute name="rfHarmonic" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
		<xs:key name="cell-id">
			<xs:selector xpath="cell"/>
			<xs:field xpath="@id"/>
		</xs:key>
	</xs:element>
	<xs:element name="cellModel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="var" maxOccurs="unbounded"/>
				<xs:element ref="slot" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" use="required" type="xs:string"/>
		</xs:complexType>
		<xs:key name="slot-cellmodel-id">
			<xs:selector xpath="slot"/>
			<xs:field xpath="@id"/>
		</xs:key>
		<xs:key name="cell-var-id">
			<xs:selector xpath="var"/>
			<xs:field xpath="@id"/>
		</xs:key>
	</xs:element>
	<xs:element name="slotModel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="var" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ble" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" use="required" type="xs:string"/>
		</xs:complexType>
		<xs:key name="ble-slotmodel-id">
			<xs:selector xpath="ble"/>
			<xs:field xpath="@id"/>
		</xs:key>
		<xs:key name="slot-var-id">
			<xs:selector xpath="var"/>
			<xs:field xpath="@id"/>
		</xs:key>
	</xs:element>
	<xs:element name="cnpt">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="d" type="d" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" use="required" type="xs:string"/>
			<xs:attribute name="ble" use="required" type="xs:string"/>
			<xs:attribute name="cell" use="required" type="xs:string"/>
			<xs:attribute name="slot" use="required" type="xs:string"/>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="bmd"/>
						<xs:enumeration value="bpm"/>
						<xs:enumeration value="emr"/>
						<xs:enumeration value="pbi"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="model" use="required" type="xs:string"/>
			<xs:attribute name="devName" use="required" type="xs:string"/>
			<xs:attribute name="section" use="required" type="xs:string"/>
		</xs:complexType>
		<xs:key name="cnpt-data-id">
			<xs:selector xpath="d"/>
			<xs:field xpath="@id"/>
		</xs:key>
	</xs:element>
	<xs:element name="linacLego">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="slotModels" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="slotModel" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:attribute name="id" use="required" type="xs:string"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="cellModels" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="cellModel" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:attribute name="id" use="required" type="xs:string"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="controlPoints" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="cnpt" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:attribute name="id" use="required" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="linac">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="linacData">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="d" type="d" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element ref="section" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
					<xs:key name="section-id">
						<xs:selector xpath="section"/>
						<xs:field xpath="@id"/>
					</xs:key>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="revNo" use="required" type="xs:decimal"/>
			<xs:attribute name="title" use="required" type="xs:string"/>
			<xs:attribute name="comment" use="required" type="xs:string"/>
		</xs:complexType>
		<xs:key name="slotmodel-id">
			<xs:selector xpath="header/slotModels/slotModel"/>
			<xs:field xpath="@id"/>
		</xs:key>
		<xs:key name="cellmodel-id">
			<xs:selector xpath="header/cellModels/cellModel"/>
			<xs:field xpath="@id"/>
		</xs:key>
		<xs:keyref name="cell-cellmodel" refer="cellmodel-id">
			<xs:selector xpath="linac/section/cell"/>
			<xs:field xpath="@model"/>
		</xs:keyref>
		<xs:keyref name="slot-slotmodel" refer="slotmodel-id">
			<xs:selector xpath="linac/section/cell/slot"/>
			<xs:field xpath="@model"/>
		</xs:keyref>
		<xs:keyref name="cellmodel-slotmodel" refer="slotmodel-id">
			<xs:selector xpath="header/cellModels/cellModel/slot"/>
			<xs:field xpath="@model"/>
		</xs:keyref>
	<!--	<xs:key name="ble-path">
			<xs:selector xpath="linac"></xs:selector>
			<xs:field xpath="section/@id"/>			
			<xs:field xpath="section/cell/@id"/>			
			<xs:field xpath="section/cell/slot/@id"/>
			<xs:field xpath="section/cell/slot/ble/@id"/>
		</xs:key>
		<xs:keyref name="cnpt-location" refer="ble-path">
			<xs:selector xpath="header/controlPoints/cnpt"/>
			<xs:field xpath="@section"/>
			<xs:field xpath="@cell"/>
			<xs:field xpath="@slot"/>
			<xs:field xpath="@ble"/>
		</xs:keyref>  -->
		<!--	<xs:key name="cnpt-id">
			<xs:selector xpath="header/controlPoints/cnpt"/>
			<xs:field xpath="@id"/>
		</xs:key>-->
	</xs:element>
</xs:schema>
